<!DOCTYPE html>

<html>
<head>
  
<title>เวียงมหาวิทยาลัยพะเยา</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<!-- แนะนำเวียงต่างๆ-->

<%- include ('layout') %>
</br></br>
<div class="grid-item"> <h1>ประวัติของเวียงกาหลวง</h1> </div>
</br></br></br></br>
<div class="grid-container,a">
<div class="grid-item">
  <img src="/photos/3003.jpg" style="width:200px;height: 200px;"></br></br>
  <h1>เวียงกาหลวง</h1>
<div class="grid-item c"> <h2>รายละเอียด</h2></div>
<div class="grid-item a"> <img src="/photos/2008.jpg" style="width:70%;height: 60%;"></br></br>
<h3>อ่านเป็นภาษาล้านนาว่า “เวียงก๋าหลง”</br>
  เวียงกาหลง เป็นชื่อของเมืองเก่า ปัจจุบันตั้งอยู่ในบริเวณเขาดอยหลวง </br>ตำบลเวียงกาหลง อำเภอเวียงป่าเป้า จังหวัดเชียงราย
  คำว่า “เวียง” ในภาษาล้านนาหมายถึง เมือง หรือ city ในภาษาอังกฤษ
  เป็นแหล่งชุมนุมของผู้คนมารวมตัวกันอยู่อาศัย</br>
  เวียงกาหลงตามการสันนิษฐานของนักโบราณคดีกล่าวว่า</br> สร้างขึ้นช่วง พ.ศ.1500-1600 ในช่วงที่พระเจ้าอโนรธามังช่อ กษัตริย์แห่งอาณาจักรพุกามยกทัพไปกัมพูชา 
  เพื่อทวงถามขอพระบรมสารีริกธาตุ พระไตรปิฎก และพระแก้วมรกตคืน</br>
  พระเจ้าอโนรธามังช่อหยุดพักทัพบริเวณเวียงกาหลงในปัจจุบัน</br> ระหว่างนั้นพระองค์ทอดพระเนตรเห็นลำแสงจากยอดดอย ซึ่งโหรทำนายว่าเป็นนิมิตที่ดี</h3>
</div>
<div class="grid-item a"> <img src="/photos/2009.jpg" style="width:70%;height: 60%;"></br></br>
</div>
</body>
</html>
