<!DOCTYPE html>

<html>
<head>
  
<title>เวียงมหาวิทยาลัยพะเยา</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" >


</head>
<body>
  <%- include ('layout') %>
</br></br>
<div class="grid-item"> <h1>ประวัติของเวียงเชียงแรง</h1></div>
</br></br></br></br>
<div class="grid-container,a">
<div class="grid-item">
  <img src="/photos/3006.jpg" style="width:200px;height: 200px;"></br></br>
  <h1>เวียงเชียงเเรง</h1>
<div class="grid-item c"> <h2>รายละเอียด</h2></div>
<div class="grid-item a"> <img src="/photos/2012.jpg" style="width:80%;height: 60%;"></br></div>
  <h3>อำเภอภูซาง เป็นเมืองโบราณที่ค้นพบหลักฐานจากพงศวดารโยนก ว่าเมืองเชียงแรง เป็นเมืองเก่าที่มีอายุไม่ต่ำกว่า 900 ปี เป็นเมืองหนึ่งของอาณาจักรภูกามยาว</br>
  เป็นเมืองที่เกิดขึ้นพร้อมกับ เมืองลอ เมืองเทิง  เมืองคอบ  เมืองออย  เมืองปง  เมืองเชียงคำ  ฯลฯ</br>
  ในปี พ.ศ. 2473 ได้มีการจัดตั้งระเบียบการปกครองใหม่  เป็นเจ้าเมืองข้าหลวง และได้ตราพระราชบัญญัติมณฑลพายัพ  ในปี  2475  </br>
  มีการเปลี่ยนแปลงระบอบการปกครอง ได้ยุบตำแหน่งเจ้าผู้ครองนครเสียหมด</br> เมืองต่างๆ จึงมีฐานะเป็น  อำเภอ ซึ่งกิ่งอำเภอภูซางขึ้นอยู่กับการปกครองของอำเภอเชียงคำมาโดยตลอด </br>
  จนกระทั่งเมื่อวันที่  26  มิถุนายน  2539  กระทรวงมหาดไทยได้ประกาศแยกพื้นที่ของอำเภอ เชียงคำ จำนวน 5 ตำบล จัดตั้งเป็นกิ่งอำเภอใหม่ มีชื่อว่า “กิ่งอำเภอภูซาง” </br>
  มีผลตั้งแต่ วันที่ 15 กรกฎาคม 2539 เป็นต้นมา และวันที่ 8 กันยายน 2550 กิ่งอำเภอภูซาง ได้ยกฐานะเป็น“ อำเภอภูซาง”</h3>
  <div class="grid-item a"> <img src="/photos/2013.gif" style="width:100%;height: 100%;"></br></div>
</div>


</div>
</body>
</html>
