<!DOCTYPE html>

<html>
<head>
  
<title>เวียงมหาวิทยาลัยพะเยา</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" >


</head>
<body>
  <%- include ('layout') %>
</br></br>
<div class="grid-item"> <h1>ประวัติของน้ำเต้า</h1> </div>
</br></br></br></br>
<div class="grid-container,a">
<div class="grid-item">
  <img src="/photos/3004.jpg" style="width:200px;height: 200px;"></br></br>
  <h1>เวียงน้ำเต้า</h1>
<div class="grid-item c"> <h2>รายละเอียด</h2></div>
<div class="grid-item a"><img src="/photos/2004.jpeg" style="width:50%;height: 60%;"></br>
  <h3></br>เวียงพยาว หรือ เวียงน้ำเต้า เริ่มมีการอยู่อาศัยในพุทธศตวรรษที่ ๒๐ เป็นอย่างเก่าที่สุดและเจริญรุ่งเรืองในพุทธศตวรรษที่ ๒๑ </br>
  เพราะพบหลักฐานมากในช่วงเวลานี้รวมทั้งศิลาจารึกที่กล่าวถึงการสร้างวัดต่าง ๆ</br> หลายแห่งและมีหลักฐานสำคัญที่แสดงว่าเวียงนี้น่าจะเป็นตัวเมืองหรือเป็น
   ศูนย์กลางการปกครองของเมืองพะเยาคือจากเวียงนี้มีแนวคันดินเป็นเส้น</br> ทางคมนาคมหลายสายตัดออกไปติดต่อกับเวียงหรือชุมชนอื่น ๆ หลายแห่งตามพันนาต่างๆ 
   เวียงนี้จึงมีลักษณะเป็นจุดศูนย์รวมหรือชุมชนหลักของเมืองเช่นเดียวกับเวียง พยาว </br>ซึ่งสันนิษฐานว่าท่าวังทองและเวียงพยาวเป็น ชุมชนเดียวกัน 
   โดยเวียงหนึ่งเป็นศูนย์การปกครองและอีกเวียงหนึ่งเป็นย่านการค้า </br>ส่วนเวียงใดเกิดขึ้นก่อนและมีการขยายมาสร้างอีกเวียงเมื่อไรนั้น ไม่มีหลักฐานใด ๆ 
   ยืนยันได้แน่ชัด แต่น่าสังเกตว่ามีการกล่าวถึงเวียงพยาว ๒ เวียงอยู่ในตำนานพื้นเมืองเชียงใหม่ </br>เล่าเรื่องตอนพระยาคำฟูกับพระยากาวน่าน 
  ร่วมกันตีเมืองพะเยาว่า พระยาทั้งสองก็ริพลคนศึกเข้าไปปล้นเอาเวียงพระยางำเมืองทั้งสองเวียง</h3>
</div>
<div class="grid-item a"><img src="/photos/2005.jpeg" style="width:50%;height: 60%;"></br>
</div>
</body>
</html>
