<!DOCTYPE html>

<html>
<head>
  
<title>เวียงมหาวิทยาลัยพะเยา</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" >



</head>
<body>
  <%- include ('layout') %>
</br></br>
<div class="grid-item"> <h1>ประวัติของเวียงลอ</h1> </div>
</br></br></br></br>
<div class="grid-container,a">
<div class="grid-item">
  <img src="/photos/3002.jpg" style="width:200px;height: 200px;"></br></br>
  <h1>เวียงลอ</h1>
<div class="grid-item c"> <h2>รายละเอียด</h2></div>
<div class="grid-item a"><img src="/photos/2006.jpg" style="width:50%;height: 60%;"></br></br>
  <h3>เวียงลอ เป็นเมืองโบราณขนาดใหญ่มีอายุมากกว่า ๙๐๐ ปี ตั้งแต่ราวพุทธศตวรรษที่ ๑๗ </br>เป็นเมืองที่มีความสำคัญทางประวัติศาสตร์เมืองหนึ่งในภาคเหนือ 
  ในเขตโบราณสถานเวียงลอ</br> พบซากกำแพงเมืองเก่า พระธาตุ วัดเก่าแก่และวัดร้างอยู่มากมาย มีการค้นพบแนวกำแพงเมือง </br>ลักษณะผังเมืองเป็นรูปค่อนข้างกลม
   แนวกำแพงเมืองเป็นคันดินไม่สูงนัก </br>บางส่วนมีร่องรอยการก่ออิฐเสริมเข้าไปด้วย คูเมืองส่วนใหญ่ตื้นเขิน ภายในตัวเมืองมีบ่อน้ำกรุอิฐจำนวนมาก </br>แต่เดิม เวียงลอ มีวัดร้างกว่า ๕๐ วัด 
   ตามวัดร้างพบพระพุทธรูปหินทรายและพระพุทธรูปทองสำริดจำนวนมาก แต่ถูกทำลายลงไปเกือบหมด </br>พบพระธาตุเจดีย์เก่าแก่ที่สำคัญ ที่วัดพระธาตุหนองห้า
   เป็นศาสนสถานที่ตั้งอยู่บนลาดชายเนินเขา </br>ลักษณะเป็นเจดีย์ทรงคล้ายพระธาตุเจดีย์วัดลีที่ตั้งอยู่ในเมืองพะเยา ซึ่งสันนิษฐานว่าสร้างเมื่อราวพุทธศตวรรษที่ ๒๑</h3>

</div>
<div class="grid-item a"><img src="/photos/2007.jpg" style="width:70%;height: 60%;"></br></br>
 <h3> เวียงลอ ได้รับการบูรณปฏิสังขรณ์โดยกรมศิลปากร พบโบราณสถานภายในเวียงกว่า ๑๐ แห่ง นอกเวียง ๓๓ แห่ง ปัจจุบันโบราณสถานเวียงลอที่ได้ดำเนินการขุดแต่งและบูรณะไปแล้วทั้งสิ้น ๑๖ แห่ง คือ
</br>
  ๑. วัดศรีปิงเมือง ๒. วัดพระเจ้าเข้ากาด ๓. วัดมะม่วงแก้มแดง ๔. วัดพระธาตุหนองห้า ๕. กู่พระแก้ว
  ๖. วัดพระธาตุบุนนาค ๗. วัดเวียงป่าสัก ๘. วัดท่าแฉะ ๙. กู่ล้อมธาตุ ๑๐. วัดกู่บวกกู่ ๑๑. กู่หนองผำ
  ๑๒. วัดศรีชุม ๑๓. กู่เกือกม้า ๑๔. วัดสารภี ๑๕. กู่ขะจ้าว ๑๖. โบราณสถานใกล้วัดศรีปิงเมือง</h3>
</div>
</body>
</html>
