<!DOCTYPE html>

<html>
<head>
  
<title>เวียงมหาวิทยาลัยพะเยา</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>

  <%- include ('layout') %>
</br></br>
<div class="grid-item"> <h1>ประวัติของเวียงจอมทอง</h1> </div>
</br></br></br></br>
<div class="grid-container,a">
<div class="grid-item">
  <img src="/photos/3005.jpg" style="width:200px;height: 200px;"></br></br>
  <h1>เวียงจอมทอง</h1>
<div class="grid-item c"> <h2>รายละเอียด</h2></div>
<div class="grid-item a"> <img src="/photos/2010.jpg" style="width:50%;height:50%;"></div></br>
<h3>ประวัติความเป็นมา วัดพระธาตุจอมทอง ตั้งอยู่บนเนินเขาทางทิศเหนือของวัดศรีโคมคำ ประชาชนสามารถขึ้นไปมนัสการพระธาตุได้สามเส้นทาง</br> คือ 
  เดินขึ้นบันไดนาคด้านทิศใต้ และขับรถขึ้นเวียนได้ทั้งด้านหน้าและด้านหลังของวัด พระธาตุเจดีย์ตั้งอยู่บนฐานสี่เหลี่ยม ๑ ชั้น </br>ต่อด้วยฐานเขียงย่อมุม ๓ ชั้น 
  และเป็นฐานปัทม์ย่อมุมต่อด้วยฐานวงกลม ๓ ชั้น ต่อขึ้นเป็นชั้นมาลัยเถาทรงกลม ๓ ชั้นรองรับองค์ระฆัง ส่วนบัลลังก์นั้นมีย่อมุม </br>ส่วนปล้องไฉนนั้นมีปูนปั้นบัว ๒ 
  ชั้นประดับอยู่ที่ฐานและยอดของปล้องไฉน ต่อขึ้นไปเป็นปลียอดและฉัตร</br> เชื่อกันว่าเป็นพระเจดีย์ที่บรรจุพระเกศาธาตุของพระพุทธเจ้า 
  ถือเป็นปูชนียสถานและโบราณสถานที่สำคัญคู่บ้านคู่เมืองพะเยามาตั้งแต่โบราณ กว้าง ๒๐ เมตร สูง ๓๐</br> รูปลักษณะขององค์เจดีย์เป็นทรงเดียวกันกับเจดีย์พระธาตุจอมทอง
   อำเภอจอมทอง จังหวัดเชียงใหม่ และวัดพระธาตุหริภุญชัย จังหวัดลำพูน</br> ซึ่งศิลปะรูปทรงแบบนี้เป็นที่นิยมของช่างสกุล ครูบาเจ้าศรีวิชัย 
   นักบุญแห่งล้านนาไทยที่เคยมาเป็นประธานบูรณะพระธาตุดังกล่าว ด้านหน้าเป็นพระวิหารขนาดกว้าง ๘ เมตร ยาวประมาณ ๒๐ เมตร </br>ผนังด้านข้างโล่งเรียบ ไม่มีประตู หน้าต่าง
    ภายในมีพระพุทธรูปหินทราย ตั้งอยู่บนฐานชุกชีเป็นพระประธาน และมีพระหินทรายขนาดกลางอีกหลายองค์ประทับเรียงราย </br>รอบ ๆ บริเวณพระธาตุและพระวิหารซึ่งเป็นเขตพุทธาวาส 
  ล้อมรอบด้วยศาลาราย</br> เคยเป็นที่จำวัด เจริญสมาธิภาวนาของครูบาเจ้าศรีวิชัย คราวมาเป็นประธานบูรณะพระวิหารวัดพระเจ้าตนหลวง</h3>
  <div class="grid-item a"> <img src="/photos/2011.jpg" style="width:100%;height:100%;"></div></br>
</div>

</body>
</html>
