<!DOCTYPE html>

<html>
<head>
  
<title>เวียงบัว</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
  <%- include ('layout') %>


<!-- แนะนำเวียงต่างๆ-->
  </br></br>
  <div class="grid-item"> <h1>ประวัติของเวียงบัว</h1></div>
  </br></br></br></br>
  <div class="grid-container,a">
  <div class="grid-item">
    <img src="/photos/3001.jpg" style="width:200px;height: 200px;"></br></br>
    <h1>เวียงบัว</h1>
  <div class="grid-item c"> <h2>รายละเอียด</h2></div>
  <div class="grid-item a"><img src="/photos/2001.jpg" style="width:50%;height: 60%;"></div>
    <h3>  เมืองโบราณเวียงบัว  เป็นแหล่งโบราณคดี ค้นพบเตาเผาโบราณ ซึ่งมีอายุกว่า ๗๐๐ ปี 
    ซึ่งเป็นเตาเผาโบราณที่เก่าแก่ที่สุดในล้านนา 
    ค้นพบเตาเผาและเศษเครื่องจานชามอยู่ตามที่ลาดเนิน</br> ตามริมลำน้ำห้วยแม่ต๋ำ ตามไร่นา 
    และสวนของชาวบ้าน </br>เตาเผาที่พบนั้นอยู่ในกลุ่มของเตาเก๊ามะเฟือง

    เตาเก๊ามะเฟืองที่พบ มีความยาว ๕.๑๕ เมตร กว้าง ๑.๙๐-๒.๐๐ เมตร ปล่องสูง ๑.๖๕ เมตร ขนาดเส้นผ่านศูนย์กลางปล่อง ๑.๖๕ เมตร 
    ขนาดเส้นผ่านศูนย์กลางปล่อง ๔๐-๔๕ ซม. </br>พื้นเตาเป็นดินอัดเรียบและยาทับด้วยดินเหนียวมีกำแพงกันไฟสูง ๓๕ ซม. ห้องภาชนะยาว ๒.๔๕ เมตร

     การขุดพบหลักฐานการผลิตเครื่องจานชามเนื้อแกร่งชนิดเคลือบ</br> อยู่ประมาณปีพ.ศ.๑๘๒๓-๑๘๔๓ ในสมัยพระยางำเมือง แห่งเมืองพะเยา 
     พบลวดลายภูมิจักรวาลที่เป็นอัตลักษณ์ของเครื่องจานชามที่เวียงบัวหลายแบบ  </br>มีเอกลักษณ์ที่โดดเด่นเฉพาะตัวคือ </br>
     การกดทับลายด้วยดวงตรา การพิมพ์กดลาย การขูดเส้น ขูดสี เซาะร่อง แกะสลักลายเป็นรูปต่างๆ </br>ส่วนใหญ่จะตกแต่งลวดลายตรงกลางชามด้านใน</h3>
  </div>
  <div class="grid-item a"><img src="/photos/2002.jpg" style="width:50%;height: 60%;"></br></br>
  <h3>หลักฐานโบราณวัตถุที่พบในการขุดค้นเตาเก๊ามะเฟือง ทั้งหมดเป็นเครื่องปั้นดินเผา ที่สำคัญมี ๔ กลุ่ม</br>
          ๑. ภาชนะประเภทจานชาม</br>

          ๒. ภาชนะประเภทไห</br>

          ๓. กี๋แผ่นกลมแบบสำหรับทำลวดลาย</br>

          ๔. ตราประทับสำหรับทำลวดลาย</br>

          เครื่องปั้นดินเผาที่ค้นพบในกลุ่มเตาเก๊ามะเฟือง เป็นเครื่องจานชามชนิดเนื้อแกร่ง เคลือบผิวอย่างสวยงาม ส่วนใหญ่เคลือบผิวเฉพาะด้านใน </br>
          ไม่ทาดินรองพื้นสีขาวที่ด้านนอก มีการเคลือบและเผาซ้ำ ทำให้จานชามเนื้อแกร่งยิ่งขึ้น สีที่เคลือบส่วนมากเป็นโทนสีเขียว เช่น สีเขียวอ่อน สีเขียวแกมเหลือง และสีขาวนวล </br>
          เนื้อดินที่ใช้ในการปั้นส่วนมากเป็นเนื้อดินสีดำ และมีเนื้อดินละเอียดสีขาว และสีขาวนวลปะปนอยู่ด้วย แต่มีจำนวนน้อย</h3>
        </div>
  </div>
</body>
</html>
